<section class="container-fluid">
    <div class="relative">
        <div class="down-arrow-back"></div>
        <div class="down-arrow"></div>
    </div>
    <div class="container ">
        <div class="review-box relative">
            <div class="review-comment" [ngClass]="{'active': state1}">
                <h2 class="review-header">Name<span class="reviewer">by Jinseong Kim</span></h2>
                <h4 class="review-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eveniet explicabo blanditiis ipsa distinctio
                    aliquid repudiandae, temporibus consequatur alias. Quidem!</h4>
                <div class="down-arrow-half"></div>
            </div>

            <div class="review-comment-opposite" [ngClass]="{'active': state2}">
                <h2 class="review-header">Name<span class="reviewer">by Joe Johnson</span></h2>
                <h4 class="review-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eveniet explicabo blanditiis ipsa distinctio
                    aliquid repudiandae, temporibus consequatur alias. Quidem!</h4>
                <div class="down-arrow-half-opposite"></div>
            </div>

            <div class="review-comment" [ngClass]="{'active': state3}">
                <h2 class="review-header">Name<span class="reviewer">by Derek</span></h2>
                <h4 class="review-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eveniet explicabo blanditiis ipsa distinctio
                    aliquid repudiandae, temporibus consequatur alias. Quidem!</h4>
                <div class="down-arrow-half"></div>
            </div>

            <div class="review-comment-opposite" [ngClass]="{'active': state4}">
                <h2 class="review-header">Name<span class="reviewer">by Joel</span></h2>
                <h4 class="review-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eveniet explicabo blanditiis ipsa distinctio
                    aliquid repudiandae, temporibus consequatur alias. Quidem!</h4>
                <div class="down-arrow-half-opposite"></div>
            </div>
        </div>
    </div>
</section>