<section class="container-fluid why-us-container">
    <div class="container">
        <div class="col-md-4">
            <div class="why-us-review">
                <img src="/images/review/trust_icon.png" alt="Star" class="review-img" />
                <div class="review-total-info">
                    <h1>Trustable</h1>
                    <h5>95% Satisfied customer</h5>
                    <h4>With 20+ years experience, we’ve assembled the systems, resources, and manpower to accommodate the specific needs of each client within the industries we serve.</h4>
                </div>
            </div>
        </div>
        <div class="col-md-8 why-us-reivew-detail">
            <div class="why-us-middle">
                <div class="row relative">
                    <div class="reviewer-div reviewer-img-div">
                        <img src="/images/review/reliability_icon.png" alt="reviewer" class="reviewer-img">
                    </div>
                    <div class="reviewer-div">
                        <div class="reviewer-name">
                            <h2 class="why-us-header">
                                Reliability 
                                <span class="why-us-rating">Finally, a contractor you can count on</span>
                            </h2>
                        </div>
                        <div class="reviewer-desc">
                            <h4>We understand the importance of being accessible and ensure punctuality, reliability, and world-class communication through our one-of-a-kind Bristol Service Mobile App.</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="why-us-middle" style="margin-top: 40px;">
                <div class="row relative">
                    <div class="reviewer-div reviewer-img-div">
                        <img src="/images/review/quality_icon2.png" alt="reviewer" class="reviewer-img">
                    </div>
                    <div class="reviewer-div">
                        <div class="reviewer-name">
                            <h2 class="why-us-header">
                                Quality 
                                <span class="why-us-rating">Committed to excellence in all we do</span>
                            </h2>
                        </div>
                        <div class="reviewer-desc">
                            <h4>Any contractor can claim quality. At Bristol Service, our long-standing reputation of superior work is supported by the Clients we proudly serve.</h4>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>