.why-us-container {
  background-color: rgba(4, 170, 170, 0.5); }

.why-us-middle {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  padding: 30px 20px;
  box-shadow: 20px 20px rgba(4, 170, 170, 0.5); }
  .why-us-middle .reviewer-img-div {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); }
  .why-us-middle .why-us-header {
    width: 100%;
    font-weight: 700;
    color: black; }
    .why-us-middle .why-us-header .why-us-rating {
      font-size: 50%;
      color: #036200; }
  .why-us-middle .reviewer-div {
    float: left; }
  .why-us-middle .reviewer-name {
    margin-left: 25%;
    margin-right: 5%;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.8); }
    .why-us-middle .reviewer-name h2, .why-us-middle .reviewer-name h4 {
      margin: 0; }
  .why-us-middle .reviewer-desc {
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 5px;
    padding: 0px 10px;
    color: dimgray;
    border-left: 3px solid grey; }
    .why-us-middle .reviewer-desc h4 {
      line-height: 25px; }
  .why-us-middle .reviewer-img {
    width: 200px;
    border-radius: 50%;
    padding: 20px 20px 20px 0px; }

.why-us-reivew-detail h2 {
  color: white; }

.why-us-review {
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 20px 20px rgba(4, 170, 170, 0.5);
  color: black; }
  .why-us-review .review-img {
    width: 200px;
    margin: 10px 0px; }
  .why-us-review .review-total-info {
    background: rgba(255, 255, 255, 0.6);
    padding: 20px; }
  .why-us-review h1 {
    margin: 0;
    font-size: 300%;
    font-weight: 700; }
  .why-us-review h5 {
    margin: 0;
    color: #04aaaa; }
  .why-us-review h4 {
    font-weight: 100;
    line-height: 25px; }

.container {
  padding: 40px 20px; }

