<section class="container-fluid">
    <div class="container">
        <div class="header-div row">
            <div id="header-pre-div"></div>
            <div id="header-middle-div">
                <h1><span class="services-header">Services</span></h1>
            </div>
            <div id="header-after-div"></div>
        </div>
        <div class="services-box row">
            <div class="col-md-4">
                <div>
                    <!--<div id="fire-pre"></div>-->
                    <div class="restoration-services">
                        <div class="restoration relative" id="fire">
                            <img src="/images/restoration/fire.png" alt="restoration" class="services-image" [ngClass]="{'side': isHover1}">
                            <div class="services-image-div" [ngClass]="{'side': isHover1}">
                                <h3>Short information about fire restoration<br /><br /></h3>
                                <h2 class="services-info"><span class="glyphicon glyphicon-question-sign"></span>&ensp;Click for example</h2>
                            </div>
                            <div class="services-desc-div" [ngClass]="{'side': isHover1}">
                                <h2 class="services-header">Fire restoration</h2>
                            </div>
                        </div>
                    </div>
                    <!--<div id="fire-after"></div>-->
                    <div class="restoration-services">
                        <div class="restoration relative" id="mold">
                            <img src="/images/restoration/mold.png" alt="restoration" class="services-image" [ngClass]="{'side': isHover4}">
                            <div class="services-image-div" [ngClass]="{'side': isHover4}">
                                <h3>Short information about Mold remediation<br /><br /></h3>
                                <h2 class="services-info"><span class="glyphicon glyphicon-question-sign"></span>&ensp;Click for example</h2>
                            </div>
                            <div class="services-desc-div" [ngClass]="{'side': isHover4}">
                                <h2 class="services-header">Mold remediation</h2>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4">
                <!--<div id="flood-pre"></div>-->
                <div class="restoration-services">
                    <div class="restoration relative" id="flood">
                        <img src="/images/restoration/flood.png" alt="restoration" class="services-image" [ngClass]="{'side': isHover2}">
                        <div class="services-image-div" [ngClass]="{'side': isHover2}">
                            <h3>Short information about Flood restoration<br /><br /></h3>
                            <h2 class="services-info"><span class="glyphicon glyphicon-question-sign"></span>&ensp;Click for example</h2>
                        </div>
                        <div class="services-desc-div" [ngClass]="{'side': isHover2}">
                            <h2 class="services-header">Flood restoration</h2>
                        </div>
                    </div>
                </div>
                <div class="restoration-services">
                    <div class="restoration relative" id="cleaning">
                        <img src="/images/restoration/cleaning.png" alt="restoration" class="services-image" [ngClass]="{'side': isHover5}">
                        <div class="services-image-div" [ngClass]="{'side': isHover5}">
                            <h3>Short information about Carpet cleaning<br /><br /></h3>
                            <h2 class="services-info"><span class="glyphicon glyphicon-question-sign"></span>&ensp;Click for example</h2>
                        </div>
                        <div class="services-desc-div" [ngClass]="{'side': isHover5}">
                            <h2 class="services-header">Carpet cleaning</h2>
                        </div>
                    </div>
                </div>
                <!--<div id="flood-after"></div>-->
            </div>
            <div class="col-md-4">
                <!--<div id="storm-pre"></div>-->
                <div class="restoration-services">
                    <div class="restoration relative" id="storm">
                        <img src="/images/restoration/storm.png" alt="restoration" class="services-image" [ngClass]="{'side': isHover3}">
                        <div class="services-image-div" [ngClass]="{'side': isHover3}">
                            <h3>Short information about Storm damage clean up<br /><br /></h3>
                            <h2 class="services-info"><span class="glyphicon glyphicon-question-sign"></span>&ensp;Click for example</h2>
                        </div>
                        <div class="services-desc-div" [ngClass]="{'side': isHover3}">
                            <h2 class="services-header">Storm damage clean up</h2>
                        </div>
                    </div>
                </div>
                <div class="restoration-services">
                    <div class="restoration relative" id="reconstuction">
                        <img src="/images/restoration/remodel.png" alt="restoration" class="services-image" [ngClass]="{'side': isHover6}">
                        <div class="services-image-div" [ngClass]="{'side': isHover6}">
                            <h3>Short information about Reconstuction<br /><br /></h3>
                            <h2 class="services-info"><span class="glyphicon glyphicon-question-sign"></span>&ensp;Click for example</h2>
                        </div>
                        <div class="services-desc-div" [ngClass]="{'side': isHover6}">
                            <h2 class="services-header">Reconstuction</h2>
                        </div>
                    </div>
                </div>
                <!--<div id="storm-after"></div>-->
            </div>
        </div>
    </div>
</section>